<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd ">

    <!-- shiro -->
    <bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor"/>

    <!-- shiro安全核心 -->
   <!-- <bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
        &lt;!&ndash; 配置验证用户的realm，当有多个验证realm时有属性realms &ndash;&gt;
        <property name="realm" ref="myRealm"/>
        &lt;!&ndash; 配置缓存管理 &ndash;&gt;
        <property name="cacheManager" ref="cacheManager"/>
        <property name="rememberMeManager" ref="cookieRememberMeManager"/>
    </bean>-->

    <!-- 自定义Realm实现认证（登录）和授权（根据数据库角色给shiro添加角色或者权限
       shiro才知道用户的权限，才能在filterChainDefinitions的url中过滤拦截）-->
    <!--<bean id="myRealm" class="com.hsyd.shiro.MyRealm">
        <property name="cacheManager" ref="cacheManager"/>
        <property name="credentialsMatcher" >
            <bean class="org.apache.shiro.authc.credential.HashedCredentialsMatcher">
                <property name="hashAlgorithmName" value="MD5"/>
                <property name="hashIterations" value="1024"/>
            </bean>
        </property>
    </bean>-->

    <!-- shrio核心拦截器 -->
    <bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
        <!--<property name="securityManager" ref="securityManager"/>-->
        <property name="loginUrl" value="/loginPage.jsp"/>
        <property name="unauthorizedUrl" value="/WEB-INF/pages/error/unauthorizad.jsp"/>
        <!-- 配置过滤地址链-->
        <property name="filterChainDefinitions">
            <value>
                #anon是匿名过滤器，用户不必登录即可访问的地址，必须放在其他过滤器前面
                #myAuthc是自定义认证过滤器，对用户的登陆信息进行认证
                #这是注释，拦截的语法 URL=拦截器[参数]。可以参看帮助文档看拦截器
                #登出（注销），只需要用户访问这个url即可实现登出无需编写代码
                /logout = logout
                /login.do = anon
                /loginPage.jsp = anon
                /order/physicalBespeak.do = anon
                /bespeak/selectBespeakSetting.do = anon
                /css/** = anon
                /images/** = anon
                /uploadfiles/** = anon
                /fonts/** = anon
                /js/** = anon
                /** = authc
            </value>
        </property>
    </bean>
    <!-- 自定义的认证过滤器 -->
    <!--<bean id="myAuthc" class="com.yada.wechatbank.shiro.MyAuthcFilter"/>
    -->

    <bean id="cookieRememberMeManager" class="org.apache.shiro.web.mgt.CookieRememberMeManager">
        <property name="cookie" ref="simpleCookie"/>
    </bean>

    <bean id="simpleCookie" class="org.apache.shiro.web.servlet.SimpleCookie">
        <constructor-arg name="name" value="YDSESSIONID_PRO"/>
        <property name="httpOnly" value="true"/>
        <property name="maxAge" value="86400"/>
    </bean>
    <!-- 用户授权信息Cache -->
    <bean id="cacheManager" class="org.apache.shiro.cache.MemoryConstrainedCacheManager" />

</beans>
