/*选择科室页面样式*/
.content{
    padding: 60px 78px;
}
.button {
    display: block;
    float: left;
    height: 118px;
    width: 202px;
    background: #24558C;
    background-image: -webkit-linear-gradient(to top, #24558C, #3A71A9);
    background-image: linear-gradient(to top, #24558C, #3A71A9);
    box-shadow: -1px 2px 2px 1px #26282A;
    color: #fff;
    font-size:36px;
    text-align: center;
    line-height:118px;
}
















